body,
html,
ul,
li,
ol,
h5,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.cf:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.cf {
  *zoom: 1;
  display: inline-block;
}
.left {
  float: left;
}
.right {
  float: right;
}
* {
  outline: none;
}
div {
  border: none;
}
a {
  -webkit-tap-highlight-color: transparent;
}
